name: Publish Package

on:
  push:
    tags:
      - "[0-9]+.[0-9]+.[0-9]+*"

permissions:
  id-token: write # Required for OIDC
  contents: read

jobs:
  publish:
    runs-on: ubuntu-latest
    environment: deploy

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Setup pnpm
        uses: pnpm/action-setup@v4

      - name: Setup node
        uses: actions/setup-node@v4
        with:
          node-version: 22
          cache: "pnpm"
          registry-url: "https://registry.npmjs.org"

      - name: Install dependencies
        run: pnpm install

      - name: Verify changes
        run: pnpm run ci

      - name: Build
        run: pnpm run build

      - name: Publish
        run: pnpm publish
